main{
    max-width: 300px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    align-items: center;
    padding: 5%;
    justify-self: center;
    margin-top: 15%;    
}
body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
.Usuário{
    color: white;
}
.Senha{
    color: white;
}
nav{
    text-align: center;
    position: sticky; top: 0;
        background-color:#898989;
    justify-self: center;
    width: 95.5%;
    padding:50px;
 position: sticky; top: 0;

}
.title{
    text-align: center;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}
a{
    color: white;
}
