body{
    background-color: #13670b;
}
nav{
    text-align: center;
    position: sticky; top: 0;
        background-color:#c3c3c3 ;
    justify-self: center;
    width: 94%;
    padding:50px;
 position: sticky; top: 0;
 padding-bottom: 50px;
 position: fixed;
}
.Botões{
    color: aliceblue;
    padding-left: 90px;
    padding-right: 90px;
    text-decoration: none;
        font-size: x-large;
}
.Botões:hover{
    color: cadetblue;
    text-decoration: underline;
}

main{
        display: flex;
         gap: 20px;
         padding: 20px;
         flex-wrap: wrap;
         justify-content: center;
         margin-top: 200px;
         margin-bottom: 200px;
}
.Card1{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    align-items: center;
    width: 178px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    justify-content: center;
    vertical-align: top;
    padding-left: 70px;
    padding-right: 70px;   

}

.Card1 img{
    width: 100%;
    height:35%;
    align-items: center;
    display: flex;
    padding-bottom: 50px;
    

}
.Card1 a{
    color: white;
    text-decoration: none;
    background-color: #13670b;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center; 
}
